body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
}

h1 {
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tx-return p {
  margin: 5px 0;
}

.tx-return ul {
  margin-left: 20px;
}

.custom-line {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.larger-button {
  font-size: 15px; /* Increase font size */
  padding: 5px 10px; /* Increase padding */
  border-radius: 5px; /* Optional: Add some border radius for a nicer look */
}