<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silent Authentication Success</title>
    <style>
        body {
            font-size: 20px; /* Adjust font size as needed */
        }
    </style>
</head>
<body>
    <p>Authorized.</p>
    <p>
    <p>Return to your messages app for the memo registration result.</p>
</body>
</html>

